{% extends "base.html" %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div style="text-align: center">
                    <h1>Erreur 500</h1>
                    <h3>Le serveur a rencontré une erreur interne. Veuillez réesayer plutard</h3>
                    <hr class="intro-divider">
                    <a href="{{ url_for('home.homepage') }}" class="btn btn-default btn-lg">
                        <i class="fa fa-home"></i>
                        Accueil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}